<div style="margin:0;padding:0;background-color:#CACACA">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro" rel="stylesheet">
  <style type="text/css">
    @import url('http://fonts.googleapis.com/css?family=Open+Sans');
  </style>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#CACACA" style="border-collapse:collapse">
    <tbody>
      <tr>
        <td align="center" valign="top" style="border-collapse:collapse">
          <table align="center" class="m_7844917566022564617em_wrapper" width="700" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed;width:700px;border-collapse:collapse" bgcolor="#fff">
            <tbody>
              <tr>
                <td valign="top" align="center" bgcolor="#fff" style="border-collapse:collapse">
                  <table align="center" style="width:700px;border-collapse:collapse" class="m_7844917566022564617em_wrapper" width="700" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td valign="top" align="center" style="border-collapse:collapse">
                          <div class="m_7844917566022564617mktEditable" id="m_7844917566022564617banner">
                            <a href="#" style="text-decoration:none;border-collapse:collapse" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=es&amp;q=http://go.pluralsight.com/C0024396&amp;source=gmail&amp;ust=1525835340704000&amp;usg=AFQjCNFCGOs8b5XEImQcMH9VuhmJfN1sNQ">
                              <img src="https://image.ibb.co/giLDGT/p1.jpg" width="700" alt="" style="font-family:Arial,Sans-serif;font-size:15px;color:#ffffff;font-weight:bold;display:block;max-width:700px;border:0;outline:none" class="m_7844917566022564617em_img CToWUd" border="0">
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

              <tr>
                <td>
                  <table align="center" style="width:700px;border-collapse:collapse" class="m_7844917566022564617em_wrapper" width="700" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td valign="top" align="left" style="border-collapse:collapse; padding: 10px 83px;">
                          <div class="m_7844917566022564617mktEditable" id="m_7844917566022564617banner">
                            <div style="background: #944690; border-radius: 50%; display: inline-block; color: white; font-weight: 800; width: 20px; heigth:20px; line-height: 20px; text-align: center; font-family: sans-serif;">
                              6
                            </div>
                            <a href="https://www.mutualdeseguros.cl/firmas_corp/firmas/<%= @usuario.rut.gsub(/[-,\.]/, '').chop %>.jpg" target="_blank" style="color: #3aaacf; font-family: sans-serif; font-weight: 700; padding-left: 3px;font-size:16px;">
                              https://www.mutualdeseguros.cl/firmas_corp/firmas/<%= @usuario.rut.gsub(/[-,\.]/, '').chop %>.jpg
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

              <tr>
                <td valign="top" align="center" bgcolor="#fff" style="border-collapse:collapse">
                  <table align="center" style="width:700px;border-collapse:collapse" class="m_7844917566022564617em_wrapper" width="700" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td valign="top" align="center" style="border-collapse:collapse">
                          <div class="m_7844917566022564617mktEditable" id="m_7844917566022564617banner">
                            <a href="#" style="text-decoration:none;border-collapse:collapse" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=es&amp;q=http://go.pluralsight.com/C0024396&amp;source=gmail&amp;ust=1525835340704000&amp;usg=AFQjCNFCGOs8b5XEImQcMH9VuhmJfN1sNQ">
                              <img src="https://image.ibb.co/f4z7bT/p2.png" width="700" alt="" style="font-family:Arial,Sans-serif;font-size:15px;color:#ffffff;font-weight:bold;display:block;max-width:700px;border:0;outline:none" class="m_7844917566022564617em_img CToWUd" border="0">
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="m_7844917566022564617em_hide" style="white-space:nowrap;font:20px courier;color:#ffffff;background-color:#ffffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
</div>