<div class="container">
  <h1>Editar Firma</h1>

  <div class="item row justify-content-md-center">
    <%= render 'form', usuario: @usuario %>
    <div class="botonera">
      <%= link_to  @usuario, class: "volver" do %>
        <i class="material-icons">keyboard_arrow_left</i>
      <% end %>
      <%= link_to root_path, class: "volver" do %>
        <i class="material-icons">home</i>
      <% end %>
    </div>
  </div>
</div>
